<!-- Allows you to include things that are 100% always going to be on the site, currenly located on /partials-->
<%- include('./partials/head') %> 
  <body>
    <%- include('./partials/navbar.ejs') %>     
    <div class="container">
      <h1><%= name %> Subreddit</h1>
      <h3><%= description %></h3>
      <h3><%= subscribers %> Total subscribers!</h3>
      <hr />
      <% for (let post of posts){%>
      <article>
        <p><%=post.title%> by <b> <%=post.author%></b></p>
      </article>
      <% }%>
    </div>
  </body>
</html>
